--
-- PostgreSQL database dump
--

\restrict 3uh9sEUg90omYkCsz1KHv3cnhqxSLyqRADPZrskW9rA1vxRf0aHCxChfwbvkcn5

-- Dumped from database version 17.7 (Debian 17.7-3.pgdg13+1)
-- Dumped by pg_dump version 17.7 (Debian 17.7-3.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: user_role; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.user_role AS ENUM (
    'Ucesnik',
    'Organizator',
    'Administrator'
);


ALTER TYPE public.user_role OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: ekipa; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.ekipa (
    id integer NOT NULL,
    poeni integer DEFAULT 0,
    rank integer
);


ALTER TABLE public.ekipa OWNER TO postgres;

--
-- Name: ekipa_clanovi; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.ekipa_clanovi (
    ekipa_id integer NOT NULL,
    user_id uuid NOT NULL
);


ALTER TABLE public.ekipa_clanovi OWNER TO postgres;

--
-- Name: ekipa_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.ekipa ALTER COLUMN id ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME public.ekipa_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: kvizovi; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.kvizovi (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    title character varying(100) NOT NULL,
    description text,
    host_id uuid NOT NULL,
    created_at timestamp without time zone DEFAULT now(),
    zanr character varying(100) NOT NULL
);


ALTER TABLE public.kvizovi OWNER TO postgres;

--
-- Name: pitanje; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.pitanje (
    id integer NOT NULL,
    pitanje text NOT NULL,
    odgovor text NOT NULL,
    "idKviza" uuid NOT NULL,
    oblast text NOT NULL,
    poeni integer NOT NULL
);


ALTER TABLE public.pitanje OWNER TO postgres;

--
-- Name: pitanje_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.pitanje ALTER COLUMN id ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME public.pitanje_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    username character varying(100) NOT NULL,
    email character varying(255) NOT NULL,
    pass_hash character varying(255) NOT NULL,
    role public.user_role DEFAULT 'Ucesnik'::public.user_role NOT NULL,
    created_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.users OWNER TO postgres;

--
-- Data for Name: ekipa; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.ekipa (id, poeni, rank) FROM stdin;
\.


--
-- Data for Name: ekipa_clanovi; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.ekipa_clanovi (ekipa_id, user_id) FROM stdin;
\.


--
-- Data for Name: kvizovi; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: pitanje; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: ekipa_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.ekipa_id_seq', 1, false);


--
-- Name: pitanje_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.pitanje_id_seq', 20, true);


--
-- Name: ekipa_clanovi ekipa_clanovi_ekipa_id_user_id_pk; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ekipa_clanovi
    ADD CONSTRAINT ekipa_clanovi_ekipa_id_user_id_pk PRIMARY KEY (ekipa_id, user_id);


--
-- Name: ekipa ekipa_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ekipa
    ADD CONSTRAINT ekipa_pkey PRIMARY KEY (id);


--
-- Name: kvizovi kvizovi_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.kvizovi
    ADD CONSTRAINT kvizovi_pkey PRIMARY KEY (id);


--
-- Name: pitanje pitanje_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pitanje
    ADD CONSTRAINT pitanje_pkey PRIMARY KEY (id);


--
-- Name: users users_email_unique; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_unique UNIQUE (email);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: ekipa_clanovi ekipa_clanovi_ekipa_id_ekipa_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ekipa_clanovi
    ADD CONSTRAINT ekipa_clanovi_ekipa_id_ekipa_id_fk FOREIGN KEY (ekipa_id) REFERENCES public.ekipa(id) ON DELETE CASCADE;


--
-- Name: ekipa_clanovi ekipa_clanovi_user_id_users_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ekipa_clanovi
    ADD CONSTRAINT ekipa_clanovi_user_id_users_id_fk FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: kvizovi kvizovi_host_id_users_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.kvizovi
    ADD CONSTRAINT kvizovi_host_id_users_id_fk FOREIGN KEY (host_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: pitanje pitanje_idKviza_kvizovi_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pitanje
    ADD CONSTRAINT "pitanje_idKviza_kvizovi_id_fk" FOREIGN KEY ("idKviza") REFERENCES public.kvizovi(id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict 3uh9sEUg90omYkCsz1KHv3cnhqxSLyqRADPZrskW9rA1vxRf0aHCxChfwbvkcn5

